@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    display: grid;
    height: 100%;
}

body {
    place-self: center;
    background-color: black;
}

a {
    text-decoration: none;
}

article {
    display: grid;
}

.title {
    place-self: center;
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    font-size: 2em;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}
